.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 65vw;
    height: 80vh;
}

.options {
    width: 13vw;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 95vw;
        height: 90vh;
        padding: 0;
    }
    .chart {
        height: 50vh;
        width: 90vw;
    }
    .options {
        width: 90vw;
    }
}
