.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        width: 400px;
        padding: 30px 5px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .box-title {
            font-family: "Quicksand", sans-serif;
            font-size: 40px;
            margin-bottom: 20px;
        }
        .box-body {
            .box-body-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;
                fa-icon {
                    font-size: 40px;
                    display: none;
                }
                .box-body-item-value {
                    display: flex;
                    flex-direction: row;
                    font-family: "Quicksand", sans-serif;
                    margin: 1px;
                    font-size: 25px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    .unit {
                        color: #999;
                        margin-left: 5px;
                    }
                }
            }
        }
        .timestamp {
            color: #999;
            font-size: 12px;
            font-weight: 600;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 700px) {
    .box {
        width: 80vw !important;
    }
}
