<div class="container">
    <div class="time-options">
        <div class="general-options" *ngIf="generalOptions">
            <div class="option">
                <div class="option-name">Smooth Graph</div>
                <div class="option-value">
                    <input type="checkbox" [(ngModel)]="generalOptions.smoothGraph" (change)="updateGeneral()" />
                </div>
            </div>
            <div class="option">
                <div class="option-name">Max. data points</div>
                <div class="option-value">
                    <input type="number" [(ngModel)]="generalOptions.maxDataPoints" (change)="updateGeneral()" />
                </div>
            </div>
        </div>
        <div class="time-option">
            <div class="time-option-name">Range</div>
            <div class="time-option-value">
                Start:
                <input type="date" [(ngModel)]="timeOptions.start" (change)="updateDate()" />
            </div>
            <div class="time-option-value">
                End:
                <input type="date" [(ngModel)]="timeOptions.end" (change)="updateDate()" />
            </div>
        </div>
        <div class="room" *ngFor="let room of options | keyvalue">
            <div class="room-name">{{ room.key }}</div>
            <div class="room-options">
                <div class="option" *ngFor="let option of room.value | keyvalue">
                    <div class="option-name">{{ option.key }}</div>
                    <div class="option-value">
                        <input type="checkbox" [checked]="option.value" (change)="update(room.key, option)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>